body,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
hr {
  margin: 10px;
}
.chiquitoTexto {
  font-size: 12px;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: 110px 1fr;
  align-items: center;
  padding: 10px 10px 0px 10px;
  font-size: 14px;
}
.navbar img {
  width: 100px;
  grid-template-columns: 2;
}
.navbar-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  list-style: none;
  justify-content: flex-start;
}
.navbar-menu li {
  padding: 10px;
}
.navbar-menu a {
  text-decoration: none;
}
/* Navbar 2 - La barra de abajo que en realidad no es nav pero bueno */
.nav2 {
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: center;
}
.nav2menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  list-style: none;
  padding: 10px;
  align-items: center;
}
.nav2menu a {
  text-decoration: none;
  justify-content: center;
  color: black;
  font-size: 14px;
}
.NegritaGrande {
  font-weight: bold;
  font-size: 16px;
}
.Busqueda {
  width: 20vw;
  height: 33px;
  margin-left: 10px;
  margin-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-color: transparent;
}
.botonGo {
  height: 40px;
  margin-left: 0px;
  background-color: rgb(59, 58, 57);
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.textNaranja {
  color: rgb(221, 145, 5);
}
.flecha {
  font-size: 13px;
}
.navbar,
.nav2 {
  background: rgb(235, 233, 233);
  background: linear-gradient(
    180deg,
    rgba(235, 233, 233, 1) 90%,
    rgba(224, 220, 220, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* Bloque información */
.profile {
  display: flex;
}
.details {
  width: 60%;
  padding: 10px;
}

h1 {
  font-size: 24px;
  margin: 0 0 0px;
}
.byOriol {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 12px;
}
.urlPerf {
  color: #0073bb;
}

.rating {
  font-size: 14px;
  color: #ff9900;
}
.reseado {
  color: #ff9900;
}
.byLinePipe {
  color: #666;
  font-size: 14px;
}
ul {
  list-style-type: circle;
  padding-left: 20px;
}
ul li {
  padding: 5px 0;
}

.negrita-sub {
  font-weight: bold;
}

/* Bloque quieres comprar */
.Botones-azules {
  margin: 10px;
  width: 250px;
  overflow: hidden;
  border: 1px solid #6daee1;
  border-radius: 10px;
  background-color: #ebf3ff;
  padding: 10px;
  box-sizing: border-box;
  height: 40%;
}
.ComprarPregunta {
  background-color: #c0dcf2;
  color: #13146c;
  padding: 13px;
  width: calc(100% + 20px);
  margin: -10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.ComprarPregunta p {
  margin: 0;
}
.Botones-azules button {
  display: block;
  width: calc(
    100% - 20px
  ); /* Reduce el ancho de los botones para agregar espacio en los lados */
  margin: 5px auto;
  border: 1px solid #6daee1;
  border-radius: 5px;
  background-color: #e9eac5;
  color: #13146c;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  font-size: 11px;
}
.Botones-azules button:hover {
  background-color: hsl(62, 20%, 85%);
}

.FBTH2 {
  margin: 10px;
  color: #e47911;
}

.FBT {
  display: grid;
  grid-template-columns: 80px 50px 80px 50px 80px 200px;
  grid-template-rows: 2;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 40px;
}
.FBT p {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
.FBT img {
  width: 80px;
  height: 80px;
}
.FBTButton {
  border-radius: 5px;
  background-color: #e9eac5;
  color: #13146c;
  font-size: 12px;
}
.multipleCheckbox {
  border: 0px;
  margin-top: 10px;
  width: 100%;
}
.multipleCheckbox li {
  list-style-type: none;
}
.fotos {
  display: flex;
  margin: 10px;
}
.miniatura {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.miniatura img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.miniatura img:hover {
  border: 2px solid #007bff;
}
.main-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Bloque de la descripción del producto */
.DescipcionDelProducto {
  margin-left: 50px;
}
.DescipcionDelProducto ul {
  margin-left: 30px;
}
/* Barritas de estrellas de experiencia profesional */
.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
}

.ratings {
  flex: 1;
  margin-right: 20px;
}

.stars {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.rating-bars .bar {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.bar-label {
  font-size: 14px;
}

.bar-fill {
  height: 10px;
  background-color: #ffc107;
  margin: 0 10px;
  flex: 1;
  border-radius: 5px;
}

.bar-value {
  width: 80px;
  font-size: 14px;
}

.testimonials {
  flex: 2;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial p {
  font-size: 16px;
  margin: 0;
}

.author {
  display: block;
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.textoDorado {
  color: #ff9900;
}
.h2Rating {
  margin-top: 0px;
  font-size: 12px;
  color: grey;
}
.LasReviews {
  margin-left: 30px;
}
.ReviewsRelevantes {
  font-size: 22px;
  font-weight: bold;
}
.pegaditoMasRico {
  margin: 1px;
  padding: 0px;
}
.greyColor {
  font-size: 14px;
  color: #555;
}
.ReviewButtons input {
  border-radius: 5px;
  border: solid 1px grey;
  width: 40px;
  margin-bottom: 30px;
}
.BottonCustomReview {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ff9900;
}
.BottonCustomReview:hover {
  color: #ba7001;
}
.BottonCustomReview2 {
  margin-top: 5px;
  font-size: 16px;
  border: solid 1px grey;
  border-radius: 5px;
}
.fotoFooter {
  margin: 150px 150px 25px 150px;
  display: flex;
  justify-content: center;
}
.cosasDLF {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.PorqHagoEsto {
  font-size: 14px;
  margin-right: 20px;
  text-decoration: none;
}
.footerCreditos {
  margin: 20px;
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.contactMeFooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.contactMeFooter a {
  text-decoration: none;
  font-size: 14px;
}

/* ---------- Responsive ----------*/
@media (max-width: 600px) {
  /* ---------- responsive de la navbar ---------- */
  .navbar {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .navbar-menu {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .navbar-menu li {
    padding: 5px;
  }
  .navbar-menu a {
    display: block;
    padding: 0px;
  }
  /* ---------- responsive de la segunda barra ---------- */
  .nav2 {
    justify-items: center;
    grid-template-rows: 1fr;
    text-align: center;
  }
  .nav2menu {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .nav2menu a,
  .buscarTT {
    display: block;
    padding: 10px 0 0px 20px;
  }
  /* ---------- responsive título ---------- */
  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    padding-bottom: 0px;
  }
  .details {
    padding-top: 0px;
    grid-row: 2;
  }

  .Botones-azules {
    grid-row: 3;
    height: 130px;
  }
  /* ---------- responsive Comprados juntos habitualmente ---------- */
  .FBTH2 {
    text-align: center;
    justify-items: center;
  }
  .FBT {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 50px 80px 50px 80px 80px;
    justify-items: center;
    align-items: center;
  }
  .foto1FBT {
    grid-row: 1;
  }
  .mas1FBT {
    grid-row: 2;
  }
  .foto2FBT {
    grid-row: 3;
  }
  .mas2FBT {
    grid-row: 4;
  }
  .foto3FBT {
    grid-row: 5;
  }
  .FBTButton {
    grid-row: 6;
  }
  .multipleCheckbox {
    margin: 0px;
  }
  .DescipcionDelProducto2 {
    margin: 15px;
  }
  .contactMeFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
