body {
  background-color: black;
}
#interruptor {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#bombilla {
  display: flex;
  justify-content: center;
}

#brillo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

img {
  cursor: pointer;
  transition: filter 0.3s;
}
